*{
    font-family: Arial;
}
.container { 
  height: 0px;
  position: relative;
  border: none;
  text-align: center;
  margin-top: 20%;

  }
.center {
  position: absolute;
  top: 50%;
  bottom: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(211, 47%, 37%);
    border-radius: 5px;
    cursor: pointer;
}
p{
    font-weight: bold;
    font-size: 30px;
}
input{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}
